# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.trans/                # your Conda env name

# DVC caches and temp files
/.dvc/cache/
/.dvc/tmp/

# Model outputs and metrics
models/
/metrics/

# Data files (if you don’t track raw/processed with DVC)
data/

# Logs and reports
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Temporary root params symlink (to avoid committing it)
params.yaml
manifest_features.json

